{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container" style="max-height: 80vh; max-width: 80%;">
    <h1 class="text-white">Available Profiles</h1>
    <div style="max-height: 80vh; overflow-y: auto;">
        <table class="table table-dark table-striped">
            <thead>
            {% if profiles %}
            <tr>
                <th>URL</th>
            </tr>
            {% else %}
            <tr>
                <th>No Profiles Available</th>
            </tr>
            {% endif %}
            </thead>
            <tbody>
            {% for profile in profiles %}
            <tr>
                <td><a href="/activity/?profile_url={{ profile }}">{{ profile }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
